<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>98205665216-r9knv78ut4kd5mvoncrpg91806e6uf7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98205665216-r9knv78ut4kd5mvoncrpg91806e6uf7c</string>
	<key>API_KEY</key>
	<string>AIzaSyCPYSYVpF0ruyvsMS4Au8-NB3fDaqrIHmc</string>
	<key>GCM_SENDER_ID</key>
	<string>98205665216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mguillory.Authtest</string>
	<key>PROJECT_ID</key>
	<string>bubbleu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbleu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:98205665216:ios:72cc7a575e3a0f44</string>
	<key>DATABASE_URL</key>
	<string>https://bubbleu-app.firebaseio.com</string>
</dict>
</plist>